---
name: Lint
on: pull_request

permissions:
  contents: read
  pull-requests: write

jobs:
  markdown:
    name: markdown
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v9
  dockerfile:
    name: dockerfile
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.0.0
        with:
          trusted-registries: docker.io,ghcr.io
  shell-scripts:
    name: shell scripts
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: luizm/action-sh-checker@master
  yaml:
    name: yaml
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Run Yamllint
        uses: frenck/action-yamllint@v1.3.1
