---
name: Lint
on: pull_request

permissions:
  contents: read
  pull-requests: write

jobs:
  markdown:
    name: markdown
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v21
  dockerfile:
    name: dockerfile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          trusted-registries: docker.io,ghcr.io
  shell-scripts:
    name: shell scripts
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run ShellCheck
        uses: luizm/action-sh-checker@master
  yaml:
    name: yaml
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run Yamllint
        uses: frenck/action-yamllint@v1.5.0
  php-ext-doc:
    name: php extension documentation
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Checking if enabled PHP extensions are documented in README.md
        run: ./bin/check-doc.sh
