---
name: Release
on:
  workflow_run:
    workflows: ["Docker build"]
    branches: [main]
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  php-versions:
    name: Lookup PHP versions
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ env.php_versions }}
    steps:
      - uses: actions/checkout@v6
      - name: Lookup PHP versions
        run: echo "php_versions=$(make _versions)" >> "$GITHUB_ENV"
  build:
    name: PHP
    runs-on: ubuntu-24.04
    needs: php-versions
    if: >-
      ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        php: ${{ fromJSON(needs.php-versions.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build PHP ${{ matrix.php }}
        uses: docker/build-push-action@v6
        with:
          file: "Dockerfile"
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          context: .
          platforms: linux/amd64,linux/arm64
          build-args: "php=${{ matrix.php }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          labels: |
            org.opencontainers.image.title=PHP ${{ matrix.php }}
            org.opencontainers.image.description=Docker image for PHP ${{ matrix.php }} FPM
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.version=${{ matrix.php }}-${{ github.sha }}
            org.opencontainers.image.revision=${{ github.sha }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ matrix.php }}
  cleanup:
    name: Cleanup
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - name: Delete old container packages
        uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          token: ${{ github.token }}
